[Unit]
Description=Scutum service file
ConditionPathExists=/usr/share/scutum
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/env scutum --enable
ExecStop=/usr/bin/env scutum --disable
ExecReload=/usr/bin/env scutum --reset && scutum --enable
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes
SysVStartPriority=99

[Install]
WantedBy=multi-user.target